@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */


::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track{
  background: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb{
  background: #939393;
  border-radius: 3px;
  border: 1px solid #444;
}
::-webkit-scrollbar-thumb:hover{
  background: #7c7c7c;
}

*{
  margin: 0px;
  padding: 0px;
  white-space: pre-wrap;
}

body {
  color: white;
  margin: 0px;
  background: #000000;
  padding: 20px;
  padding-top: 10px;
}
h1{

  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  display: inline-block;
  width: 500px;
  height: 100px;

  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -250px;
  text-align: center;
  font-size: 85px;
  font-family: Arial, sans-serif;
  letter-spacing: 7px;

}

div {
  font-family: Comic Sans MS;
}
::selection {
  background: #999;
}

#cursor {
  font-weight: normal;
  animation: blip 2s infinite;
  animation-direction: reverse;
  animation-delay: 0.5s;
}

@keyframes blip {
  20% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
